python-telegram-bot
# pip install torch==1.8.0+cu101 -f https://download.pytorch.org/whl/torch_stable.html
torch==1.8.0+cu101
transformers==4.4.2
pandas
matplotlib
numpy
scikit-learn
torch_optimizer
tensorboard
sentence-transformers==1.0.2
scipy
# sentencepiece